table .ellipsis > div {
  display: table;
  table-layout: fixed;
  width: 100%;
}

table .ellipsis > div > span {
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
